/* ащтеы */
@font-face {
    font-family: 'Clearsans';
    src: url('../fonts/ClearSans-Medium.eot');
    src: url('../fonts/ClearSans-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans-Medium.woff') format('woff'),
         url('../fonts/ClearSans-Medium.ttf') format('truetype'),
         url('../fonts/ClearSans-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}