/*---------------------------------------------------------
 Menu main (_menu.scss)
-------------------------------------------------------- */

/** Menu **/
#site-navigation {
	@include rem('font-size', 20px);
	color : $color-text-black;	
	//text-align: center;
	
	ul {
		@include rem('padding', 20px 0);
		display: none;		
	}
	
	a {
		display: inline-block;
		text-transform: uppercase;		
		color : $color-text-black;
		border: 4px solid transparent;
		@include rem('padding', 0 5px);
		@include transition(all 0.3s);
		
		&:hover, &:focus, &:active  {
			background: $color-white;
			border-color: $color-white;
		}
	}
	
	.current-menu-item a {
		border-color: $color-white;
	}
	
	@include for(large-screens) {
		ul {
			display: block;
			@include rem('padding', 8px 0);
			text-align: center;			
		}
		
		li {
			display: inline-block;			
		}
	}	
	
	.logout-item {
		display: none;
	}
}



.menu-toggle {
	display: inline-block;
	cursor: pointer;
	
	font-family: $heading;
	@include rem('font-size', 16px);
	color: $color-white;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	line-height: 2.25em;
	
	background: $color-text;
	@include rem('padding', 0 15px);
	height: 2.5em;
	margin: -1px 0;
	border: none;
	
	@include transition(all 0.3s ease-in-out);
	
	&:hover, &:focus, &:active {
		background: $color-link-two;
	}
	
	.dashicons {
		line-height: 32px;
		font-size: 21px;
		color: inherit;
		margin-right: 6px;
		height: 28px;
		margin-top: 2px;
	}
	
	@include for(large-screens) {
		display: none;
	}
}

#site-navigation.togged {	
	ul {
		display: block;
	}
}


.journal-menu {
	@include rem('font-size', 20px);
	@include rem('padding-top', $base/2);
	
	li {
		display: inline-block;		
		
		a {
			display: inline-block;
			@include rem('margin', 0 $base/2);
			border-bottom: 1px solid transparent;
			@include transition-all(0.3s);
			
			&:hover, &:focus, &:active {
				color: $color-link-three;
				border-color: $color-link-three;
			}
		}
		
		&:first-child:before,
		&:after {
			content: '/';
			color: $color-border-normal;
		}
		
	}
	
	.current-menu-item {
		font-weight: bold;
	}
	
}




